<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.mapper.PostMapper">
		

 	
	<insert id="sendPost"  >
		<selectKey resultType="int" keyProperty="post_id" order="AFTER">
			select post_seq.currval from dual
		</selectKey>
		insert into post (POST_ID, USER_ID,PCONTENT, PLOCATION,PGROUP, PSTEP, PINDENT, HIT,RENOTE, PLIKE, VIEWHIT0, VIEWHIT6,VIEWHIT12, VIEWHIT18, CREATED , UPDATED)
			values(
			POST_SEQ.nextval,
			#{user_id},
			#{pcontent},
			#{plocation},
			post_seq.currval,
			0,0,
			0,0,0,
			0,0,0,0,
			sysdate,
			sysdate
			)
	</insert>
	
	 <select id="getMyTimeline" resultType="com.java.dto.PostDto">
 		select distinct post_id, ff.* from 
 		(select post.* from 
 		(select * from user_follow  where user_id=#{user_id})uf, post  
 		where post.user_id = uf.target_id or post.user_id=#{user_id}) ff 
 		order by ff.created desc
 	</select>
 	
 	<select id="getSelected" resultType="com.java.dto.PostDto">
 		select * from post where post_id = #{post_id}
 	</select>
</mapper>