<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.mapper.PostMapper">
		

 	
	<insert id="sendPost"  >
		<selectKey resultType="int" keyProperty="post_id" order="AFTER">
			select post_seq.currval from dual
		</selectKey>
		insert into post (POST_ID, USER_ID,PCONTENT, PLOCATION,PGROUP, PSTEP, PINDENT, HIT,RENOTE, PLIKE, VIEWHIT0, VIEWHIT6,VIEWHIT12, VIEWHIT18, CREATED , UPDATED)
			values(
			POST_SEQ.nextval,
			#{user_id},
			#{pcontent},
			#{plocation},
			post_seq.currval,
			0,0,
			0,0,0,
			0,0,0,0,
			sysdate,
			sysdate
			)
	</insert>
	
	<insert id="sendModalPost"  >
		<selectKey resultType="int" keyProperty="post_id" order="AFTER">
			select post_seq.currval from dual
		</selectKey>
		insert into post (POST_ID, USER_ID,PCONTENT, PLOCATION,PGROUP, PSTEP, PINDENT, HIT,RENOTE, PLIKE, VIEWHIT0, VIEWHIT6,VIEWHIT12, VIEWHIT18, CREATED , UPDATED)
			values(
			POST_SEQ.nextval,
			#{user_id},
			#{pcontent},
			#{plocation},
			#{post_id},
			#{pstep},0,
			0,0,0,
			0,0,0,0,
			sysdate,
			sysdate
			)
	</insert>
	
	 <select id="getMyTimeline" resultType="com.java.dto.PostDto">
 		select * from(select ROW_NUMBER() OVER (ORDER BY pgroup desc, pstep asc,  created desc) rnum, 
 		ff.* from (select 
 		post.post_id, 
 		post.user_id, 
 		post.pcontent, 
 		post.plocation, 
 		post.pgroup, 
 		post.pstep, 
 		post.pindent, 
 		post.hit, 
 		post.viewhit0, 
 		post.viewhit6, 
 		post.viewhit12, 
 		post.viewhit18, 
 		post.created, 
 		post.updated, 
 		post.renote, 
 		post.plike from 
 		( select * from user_follow  where source_id='aaa')uf, 
 		post  where post.user_id = uf.target_id or post.user_id='aaa' 
 		GROUP BY 
 		post.post_id, 
 		post.user_id, 
 		post.pcontent, 
 		post.plocation, 
 		post.pgroup, 
 		post.pstep, 
 		post.pindent, 
 		post.hit, 
 		post.viewhit0, 
 		post.viewhit6, 
 		post.viewhit12, 
 		post.viewhit18, 
 		post.created, 
 		post.updated, 
 		post.renote, post.plike) ff) where rnum between 1 and 20

 	</select>
 	
 	<select id="getSelected" resultType="com.java.dto.PostDto">
 		select * from post where post_id = #{post_id}
 	</select>
 	 <select id="getMaxStep" resultType="com.java.dto.PostDto">
 		select MAX(pstep) from (select * from post where pgroup = #{post_id})
 	</select>
</mapper>