<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.www.mapper.EmpMapper">

	<select id="selectAll3" resultMap="memBDto">
		select mem.*,b.bno,b.btitle,b.id,b.bdate from member mem, board b where mem.id = b.id
	</select>
	
	
	<!-- resultMap 1. emp 선언 dept 선언 3.합친것 선언-->
	
	<resultMap id="memBDto" type="com.java.www.dto.MemBoardDto">
		<collection property="mdto" resultMap="memDtoMap" />
		<collection property="bdto" resultMap="boardDtoMap" />
	</resultMap>
	
	
	
	
	
	<resultMap id="memDtoMap" type="com.java.www.dto.MemberDto" >
		<result column="id" property="id" />
		<result column="pw" property="pw" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="gender" property="gender" />
		<result column="hobby" property="hobby" />
		<result column="mdate" property="mdate" />
		
	</resultMap>
	
	
	<resultMap id="boardDtoMap" type="com.java.www.dto.BoardDto">
		<result column="bno" property="bno" />
		<result column="btitle" property="btitle" />
		<result column="bcont" property="bcont" />
		<result column="bdate" property="bdate" />
		<result column="id" property="id" />
		<result column="bgroup" property="bgroup" />
		<result column="bstep" property="bstep" />
		<result column="bindent" property="bindent" />
		<result column="bhit" property="bhit" />
		<result column="bfile" property="bfile" />
	</resultMap>
	
</mapper>