<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- MemberMapper.java 연결  (인터페이스)-->
<mapper namespace="com.java.www.mapper.BoardMapper">

	<!-- 게시글 전체 가져오기 -->
	<select id="selectAll" resultType="com.java.www.dto.BoardDto">
		select * from(
		select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from board a)
		where rnum between 1 and 10
	</select>

	
	<select id="selectOne" resultType="com.java.www.dto.BoardDto">
		select * from board where bno=#{bno}
	</select>
	
	
	<select id="BCommentSelectAll"  resultType="com.java.www.dto.BCommentDto">
	   select * from bocomment order by reno desc
	</select>
	
	<!-- 시퀀스(cno)를 생성 후 댓글저장, 시퀀스를 리턴  -->
	<insert id="bCommentInsert">
		<selectKey resultType="int" keyProperty="reno" order="BEFORE">   <!-- property : 변수 -->
			select recommseq.nextval from dual
		</selectKey>

		insert  into bocomment values(#{bno},#{repw},#{id},#{recont},sysdate,#{reno})
	</insert>
	
	<select id="BCommentSelectOne" resultType="com.java.www.dto.BCommentDto">
		select * from bocomment where reno=#{reno} <!-- sysdate를 가져오기 위해서 다시 select을 해서 데이터를 가져와야함.  -->
	</select>
	
	<delete id="bCommentdelete">
		delete from bocomment where  reno=#{reno}
	</delete>
	
	<update id="bCommentmodify">
	<selectKey resultType="com.java.www.dto.BCommentDto" keyProperty="redate,reno" order="BEFORE">
		select sysdate redate, reno from dual
	</selectKey>
		update bocomment set recont = #{recont}, redate=#{redate} where reno=#{reno}
	</update>
	
	<select id="rowCounter" resultType="int">
		select count(*) from board
	</select>
	
	<select id="selectPage" resultType="com.java.www.dto.BoardDto">
		select * from(
		select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from board a)
		where rnum between #{start} and #{end}
	</select>
	
	<select id="searchRowCounterAll" resultType="int">
		select count(*) from board where btitle like '%'||#{word}||'%' or bcont like '%'||#{word}||'%'
	</select>
	
	<select id="searchRowPageAll" resultType="com.java.www.dto.BoardDto">
		select * from(select * from (
		select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from board a)s where btitle like '%'||#{word}||'%' or bcont like '%'||#{word}||'%') where rnum between #{start} and #{end}
	</select>

</mapper>

