<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- MemberMapper.java 연결  (인터페이스)-->
<mapper namespace="com.java.www.mapper.IncomeMapper">


	<select id="incomeSelect" resultType="com.java.www.dto.IncomeSelectDto">
		select * from income 
	</select>
	
	<select id="incomeSelectYear" resultType="com.java.www.dto.IncomeSelectDto">
		select * from income where cyear = #{cyear} order by cmonth
	</select>

</mapper>

