<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.MemberMapper">
  <select id="login" resultType="com.java.www.dto.MemberDto">
     select * from member2 where id=#{id} and pw=#{pw}
  </select>
  
   
  <select id="idMailCheck" resultType="com.java.www.dto.MemberDto">
     select * from member2 where name=#{name} and email=#{email}
  </select>
  
    <select id="emailCheck" resultType="com.java.www.dto.MemberDto">
     select * from member2 where email=#{email}
  </select>
  
   
</mapper>