<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- Mapper.java연결 -->
    <mapper namespace="com.java.mapper.AlramMapper">
    
    	<select id="selectAlram" resultMap="alramCrossUserDto">
    		select distinct alram.*, cross_user.name, cross_user.email, cross_user.profile_img,user_follow.target_id from alram join cross_user on alram.source_id = cross_user.user_id left join user_follow ON alram.user_id = user_follow.source_id and user_follow.target_id = alram.source_id 
    		where alram.user_id = #{user_id} and (checked = 0 or checked = 1 )
    		order by alram.alram_id desc
    		
    	</select>
    	<select resultMap="alramCrossUserDto" id="selectChecked">
    		select distinct alram.*, cross_user.name, cross_user.email, cross_user.profile_img,user_follow.target_id from alram join cross_user on alram.source_id = cross_user.user_id left join user_follow ON alram.user_id = user_follow.source_id and user_follow.target_id = alram.source_id 
    		where alram.user_id = #{user_id} and checked = 1
    		order by alram.alram_id desc
    	</select>
    	<update id="alramDelect">
    		update alram set checked = '2' where alram_id = #{alram_id}	
    	</update>
    	<update id="alramChecked">
    		update alram set checked = '1' where user_id = #{user_id} and checked = '0'	
    	</update>
    	
    	<select id="Mentionalram" resultMap="alramCrossUserDto">
    		select alram.*, cross_user.name,cross_user.profile_img from alram,cross_user WHERE alram.source_id = cross_user.user_id and (alram.alram_type = 'retweet' OR alram.alram_type = 'comment') AND (alram.checked = 0 OR alram.checked = 1) and alram.user_id = #{user_id}
    	</select>
    	<update id="alramBan">
    		update alram set checked = '3' where source_id = #{source_id}
    	</update>

    	<select resultMap="alramCrossUserDto" id="selectBanUser">
			select distinct alram.source_id, cross_user.name,cross_user.profile_img,cross_user.profile_txt from alram join cross_user on alram.source_id = cross_user.user_id
			where checked = 3
    	</select>

    	<update id="UserUnBan">
    		update alram set checked = '1' where source_id = #{source_id}
    	</update>
    	
    	<update id="banCheck">
    		update alram set checked = '3' where source_id = #{source_id}
    	</update>
    	   	
    	<update id="accountUpdate1">
    		update alram set user_id=#{user_id} where user_id=#{org_id}
    	</update>
  	
    	<update id="accountUpdate2">
    		update alram set source_id=#{user_id} where source_id=#{org_id}
    	</update>
    	
    	<insert id="insertFollowAlram">
    		insert into alram(alram_id,user_id,source_id,alram_type,checked,created) values (alram_seq.nextval, #{target_id}, #{source_id}, 'follow', 0, SYSDATE )
    	</insert>
    	
    	<insert id="insertReplyAlram">
    		insert into alram values (alram_seq.nextval, #{target_id}, #{source_id}, #{post_id}, 'comment', 0, SYSDATE )
    	</insert>
    	
    	<insert id="insertLikeAlram">
    		insert into alram values (alram_seq.nextval, #{target_id}, #{user_id}, #{post_id}, 'like', 0, SYSDATE )
    	</insert>
    	
    	<!--resultMap 1.alram선언 2.cross_user선언-->
    	<resultMap type="com.java.dto.AlramCrossUserDto" id="alramCrossUserDto">
    		<collection property="alramDto" resultMap="alramDtoMap"></collection>
    		<collection property="cross_userDto" resultMap="cross_userDtoMap"></collection>
    		<collection property="user_followDto" resultMap="user_followDtoMap"></collection>
    	</resultMap>
    	<!-- 1.alram선언 -->
    	<resultMap type="com.java.dto.AlramDto" id="alramDtoMap">
    		<result column="alram_id" property="alram_id"/>
    		<result column="user_id" property="user_id"/>
    		<result column="source_id" property="source_id"/>
    		<result column="post_id" property="post_id"/>
    		<result column="alram_type" property="alram_type"/>
    		<result column="checked" property="checked"/>
    		<result column="created" property="created"/>
    	</resultMap>
    	<!--2.cross_user 선언 -->
    	<resultMap type="com.java.dto.Cross_userDto" id="cross_userDtoMap">
    		<result column="user_id" property="user_id"/>
    		<result column="name" property="name"/>
    		<result column="profile_img" property="profile_img"/>
    		<result column="profile_txt" property="profile_txt"/>
    	</resultMap>
    	<!--3.user_followDto 선언 -->
    	<resultMap type="com.java.dto.User_followDto" id="user_followDtoMap">
    		<result column="follow_id" property="follow_id"/>
    		<result column="user_id" property="user_id"/>
    		<result column="source_id" property="source_id"/>
    		<result column="target_id" property="target_id"/>
    		<result column="created" property="created"/>
    		<result column="updated" property="updated"/>
    	</resultMap>
    	

    </mapper>