<<<<<<< HEAD
@charset "UTF-8";

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.userfile{

width:80px;
height:80px;
}

pre{white-space: pre-wrap; background: #EEE;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

#fixedarrow {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}


a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}


.sidebar_a{
	text-decoration: none;
    list-style: none;
    color: black;
}

li:hover {
    color: var(--twitter-theme-color);
    background-color: var(--twitter-background-color);
    /* opacity: 0.9; */
    border-radius: 30px;
    width: 200px; 
    cursor: pointer;
    text-align: center; 
}

#twittericon {
    color: white;
    font-size: 25px;
    margin-left: 75px;
}

#twittericon:hover {
    color: royalblue;
}

#icons {
    margin-right: 10px;
    font-size: 25px;
}

.leftverticalmenu {
    height: 100vh;
    width: 300px;
    text-align: left;
    line-height: 60px;
    font-size: 20px;
    border-right: 1px solid rgb(155, 157, 160);
    position: fixed;

}

ul {
    margin: auto;
    width: 50%;
    margin-top: -10px;

}

.profileimage {
    border-radius: 50%;
    border: 2px solid rgb(43, 43, 223);
    width: 25px;
    margin-right: 10px;
    margin-bottom: -5px;
}

figure {
    border-radius: 50px;
    height: 55px;
    font-weight: bold;
    background-color: rgb(29, 161, 242);
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

figure:hover {
    opacity: 0.9;
}

/* MIDDLE AND RIGHT CONTAINERS */

.fa-arrow-up-right-from-square {
	color : var(--twitter-theme-color);
}

.flexcontainer {
    position: absolute;
    left: 300px;
}

.middlecontainer {
    width: 600px;
    height: 100%;
    border-right: 1px solid var(--twitter-line-color);
    overflow: scroll;

}

.headsec {
    display: flex;
    margin-top: 10px;
    

}

#fa-arrow-left {
    color: black;
    filter: brightness(70%);
    font-size: 20px;
    margin: 10px 20px 0 20px;
    cursor: pointer;
}

.headerprofileimage {
    margin-top: 10px;
    position: relative;
}

#headerimage {
    width: 598px;
  height:200px;
}

#profilepic {
    border-radius: 50%;
    width: 150px;
    height:130px;
    position: absolute;
    top: 130px;
    left: 20px;
    border: 4px solid white;
}

.editprofile {
    margin-top: 5px;
    float: right;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.followbtn {
    margin-top: 5px;
    float: right;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.bio {
    margin-top: 55px;
    margin-left: 20px;
    line-height: 40px;
    font-size: 15px;
}

.handle {
    line-height: 19px;
    margin-bottom: 10px;
}

.followers {
    margin-right: 15px;
}

.nawa {
    display: flex;
}

.heading {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white; 
    font-weight: bold;

}

.heading>div {
	height :  45px;
	text-align : center;
	line-height : 45px;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

.heading a {
	color : black;
}

.heading_content {
	width : 26%;	
}
.heading_reply {
	width : 17%;	
}
.heading_media {
	width : 26%;	
}
.heading_like {
	width : 31%;	
}

.heading div:hover {
    background: var(--twitter-background-color);
}







.avi {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.mytweets {
    display: flex;
    margin: 15px 0 15px 0;
    margin-bottom: 800px;
}

.tweetcontent {
    margin-top: 5px;
}

.retweeticons {
    margin-top: 5px;
    margin-left: -10px;
    display: inline-flex;
    justify-content: space-evenly;
}


/* RIGHT VERTICAL CONTAINER */

.flexcontainer {
    display: flex;
}

.searchbar {
    display: inline-flex;
    margin: 10px 0 0 25px;
    border: 1px solid rgb(155, 157, 160);
    padding: 13px;
    border-radius: 20px;
    width: 300px;
}

#searchbox {
    border: none;
    background-color: transparent;
    color: rgb(155, 157, 160);
}

.searchicon {
    color: royalblue;
    margin-right: 15px;
}

.twittermedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgb(155, 157, 160);
    border-radius: 20px;
    margin: 10px 0 0 25px;
    width: 300px;
}

.twittermedia img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.nigeriatrends {
    margin: 30px 0 0 25px;
    width: 300px;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 10px;
    padding: 10px 0;
}

#fa-cog {
    color: royalblue;
    margin-top: 5px;
    cursor: pointer;
    font-size: 25px;
}

.headertrends {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(155, 157, 160);
    padding: 10px;
}

.trending {
    filter: brightness(50%)
}

.trenditem {
    border-bottom: 1px solid rgb(155, 157, 160);
    padding: 10px;
    line-height: 22px;
}

.hashtag {
    font-weight: bolder;
}

/* mypage 시작 */
.mypage_main {
	margin-top: 20px;
}

.mypage_account {
	margin-left: 30px;
	width: 100%;
}
.mypage_account li {
	margin-top: 10px;
	margin-left:30px;
}

.mypage_account li:hover {
	margin-top: 10px;
	margin-left:30px;
}

.mypage_password {
	margin-left: 30px;
	width: 100%;
}
.mypage_password label {
	margin-top: 10px;
	margin-left:30px;
	color: black;
}

.mypage_password input{
	width: 480px; height: 45px; margin: 5px 0 0 30px; padding-left: 10px;  
}
.mypage_password p{
	margin-top: 5px;
	margin-left: 30px; color: var(--twitter-theme-color); font-size: 13px;
}


.savebtn{
	width:64px;
	height:36px;
	background-color: #BA68C8;
	color : white;
	font-weight: 700;
	border-radius: 10px;
	float: right;
	margin-top: 10px;
	text-align: center;
	line-height: 36px;
	margin-right: 30px;
	cursor: pointer;
}

/* mypage 끝 */

/* yourmain 시작 */
.yourpage{
	float: right; display: flex;
}

.div_circle{
	width: 43px; height: 43px; border: 1px solid black; margin-top: 5px; padding: 10px; float: right; text-align: center; margin-right: 4px; border-radius: 50%;
}

.followbtn{
	padding-top: 12px;
}

.followbtn:hover{
	padding-top: 12px;
	background-color: var(--twitter-background-color);
	color:var(--twitter-theme-color);	
}

/* yourmain 끝 */

/* profile_modify 시작 */

.header_camera{
	position: absolute; top:100px; left: 299px; background-color: rgba(255,255,255,0.4); border-radius: 50%; cursor: pointer
}

.profile_camera{
	position: relative; top:-18px; left: 80px; width:32px; height:32px; background-color: rgba(255,255,255,0.4); border-radius: 50%; cursor: pointer;
}

.profile_modify_outline{
	width: 583px; margin: 40px auto;
}

.max_length{
	float: right;
}

.profile_modify_outline_name{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px;
}

.name_input{
	border: white; width: 533px; outline: none; margin-top: 12px;
}

.profile_modify_outline_introduce{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px;
}

.introduce_textarea{
	border: white; width: 533px;  outline: none; margin-top: 12px;  resize: none;
}

.profile_modify_outline_location{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px;
}

.location_input{
	border: white; width: 533px; outline: none; margin-top: 12px;
}

.profile_modify_outline_website{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px; 
}

.website_input{
	border: white; width: 533px; outline: none; margin-top: 12px;
}

.profile_modify_outline_birthday{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px; 
}

.birthday_div{
	margin-top: 8px;
}

.profile_modify{
	margin-top: 0px;
	margin-left: 30px;
	width:100%;
	cursor: pointer;
	
}

/* profile_modify 끝 */






/* media 시작 */

.media_main{
	display: inline-block;
	margin: 15px 0 15px 0;
    
}

.media_sub{
	width: 590px; 
	height: 194px; 
	margin: 4px 4px 0; 
	display: flex;
}

.media_box_1{
	width: 194px; height: 194px; /* border: solid 1px red; */ box-sizing: border-box;
}

.media_box_1 img{
	width:194px; height: 194px; 
}

.media_box_1 video{
	width:194px; height: 194px; 
}

.media_box_2{
	width: 194px; height: 194px; /* border: solid 1px blue; */ box-sizing: border-box; margin-left: 4px;
}

.media_box_2 img{
	width:194px; height: 194px; 
}

.media_box_2 video{
	width:194px; height: 194px; 
}

.media_box_3{
	width: 194px; height: 194px; /* border: solid 1px green;  */box-sizing: border-box; margin-left: 4px;
}

.media_box_3 img{
	width:194px; height: 194px; 
}

.media_box_3 video{
	width:194px; height: 194px; 
}

/* media 끝 */


/* underbar 시작 */

.content_underbar{
	width: 56px; height: 4px; background: #BA68C8; margin: auto;
}

.like_underbar{
	width: 99px; height: 4px; background: #BA68C8; margin: auto;
}

/* underbar 끝 */


/* profile_post 시작 */
.post_body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;

}




=======
@charset "UTF-8";

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.userfile{

width:80px;
height:80px;
}

pre{white-space: pre-wrap; background: #EEE;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

#fixedarrow {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}


a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}


.sidebar_a{
	text-decoration: none;
    list-style: none;
    color: black;
}

li:hover {
    color: var(--twitter-theme-color);
    background-color: var(--twitter-background-color);
    /* opacity: 0.9; */
    border-radius: 30px;
    width: 200px; 
    cursor: pointer;
    text-align: center; 
}

#twittericon {
    color: white;
    font-size: 25px;
    margin-left: 75px;
}

#twittericon:hover {
    color: royalblue;
}

#icons {
    margin-right: 10px;
    font-size: 25px;
}

.leftverticalmenu {
    height: 100vh;
    width: 300px;
    text-align: left;
    line-height: 60px;
    font-size: 20px;
    border-right: 1px solid rgb(155, 157, 160);
    position: fixed;

}

ul {
    margin: auto;
    width: 50%;
    margin-top: -10px;

}

.profileimage {
    border-radius: 50%;
    border: 2px solid rgb(43, 43, 223);
    width: 25px;
    margin-right: 10px;
    margin-bottom: -5px;
}

figure {
    border-radius: 50px;
    height: 55px;
    font-weight: bold;
    background-color: rgb(29, 161, 242);
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

figure:hover {
    opacity: 0.9;
}

/* MIDDLE AND RIGHT CONTAINERS */

.fa-arrow-up-right-from-square {
	color : var(--twitter-theme-color);
}

.flexcontainer {
    position: absolute;
    left: 300px;
}

.middlecontainer {
    width: 600px;
    height: 100%;
    border-right: 1px solid var(--twitter-line-color);
    overflow: scroll;

}

.headsec {
    display: flex;
    margin-top: 10px;
    

}

#fa-arrow-left {
    color: black;
    filter: brightness(70%);
    font-size: 20px;
    margin: 10px 20px 0 20px;
    cursor: pointer;
}

.headerprofileimage {
    margin-top: 10px;
    position: relative;
}

#headerimage {
    width: 598px;
  height:200px;
}

#profilepic {
    border-radius: 50%;
    width: 150px;
    height:130px;
    position: absolute;
    top: 130px;
    left: 20px;
    border: 4px solid white;
}

.editprofile {
    margin-top: 5px;
    float: right;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.followbtn {
    margin-top: 5px;
    float: right;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.bio {
    margin-top: 55px;
    margin-left: 20px;
    line-height: 40px;
    font-size: 15px;
}

.handle {
    line-height: 19px;
    margin-bottom: 10px;
}

.followers {
    margin-right: 15px;
}

.nawa {
    display: flex;
}

.heading {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white; 
    font-weight: bold;

}

.heading>div {
	height :  45px;
	text-align : center;
	line-height : 45px;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

.heading a {
	color : black;
}

.heading_content {
	width : 26%;	
}
.heading_reply {
	width : 17%;	
}
.heading_media {
	width : 26%;	
}
.heading_like {
	width : 31%;	
}

.heading div:hover {
    background: var(--twitter-background-color);
}







.avi {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.mytweets {
    display: flex;
    margin: 15px 0 15px 0;
    margin-bottom: 800px;
}

.tweetcontent {
    margin-top: 5px;
}

.retweeticons {
    margin-top: 5px;
    margin-left: -10px;
    display: inline-flex;
    justify-content: space-evenly;
}


/* RIGHT VERTICAL CONTAINER */

.flexcontainer {
    display: flex;
}

.searchbar {
    display: inline-flex;
    margin: 10px 0 0 25px;
    border: 1px solid rgb(155, 157, 160);
    padding: 13px;
    border-radius: 20px;
    width: 300px;
}

#searchbox {
    border: none;
    background-color: transparent;
    color: rgb(155, 157, 160);
}

.searchicon {
    color: royalblue;
    margin-right: 15px;
}

.twittermedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgb(155, 157, 160);
    border-radius: 20px;
    margin: 10px 0 0 25px;
    width: 300px;
}

.twittermedia img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.nigeriatrends {
    margin: 30px 0 0 25px;
    width: 300px;
    border: 1px solid rgb(155, 157, 160);
    border-radius: 10px;
    padding: 10px 0;
}

#fa-cog {
    color: royalblue;
    margin-top: 5px;
    cursor: pointer;
    font-size: 25px;
}

.headertrends {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(155, 157, 160);
    padding: 10px;
}

.trending {
    filter: brightness(50%)
}

.trenditem {
    border-bottom: 1px solid rgb(155, 157, 160);
    padding: 10px;
    line-height: 22px;
}

.hashtag {
    font-weight: bolder;
}

/* mypage 시작 */
.mypage_main {
	margin-top: 20px;
}

.mypage_account {
	margin-left: 30px;
	width: 100%;
}
.mypage_account li {
	margin-top: 10px;
	margin-left:30px;
}

.mypage_account li:hover {
	margin-top: 10px;
	margin-left:30px;
}

.mypage_password {
	margin-left: 30px;
	width: 100%;
}
.mypage_password label {
	margin-top: 10px;
	margin-left:30px;
	color: black;
}

.mypage_password input{
	width: 480px; height: 45px; margin: 5px 0 0 30px; padding-left: 10px;  
}
.mypage_password p{
	margin-top: 5px;
	margin-left: 30px; color: var(--twitter-theme-color); font-size: 13px;
}


.savebtn{
	width:64px;
	height:36px;
	background-color: #BA68C8;
	color : white;
	font-weight: 700;
	border-radius: 10px;
	float: right;
	margin-top: 10px;
	text-align: center;
	line-height: 36px;
	margin-right: 30px;
	cursor: pointer;
}

/* mypage 끝 */

/* yourmain 시작 */
.yourpage{
	float: right; display: flex;
}

.div_circle{
	width: 43px; height: 43px; border: 1px solid black; margin-top: 5px; padding: 10px; float: right; text-align: center; margin-right: 4px; border-radius: 50%;
}

.followbtn{
	padding-top: 12px;
}

.followbtn:hover{
	padding-top: 12px;
	background-color: var(--twitter-background-color);
	color:var(--twitter-theme-color);	
}

/* yourmain 끝 */

/* profile_modify 시작 */

.header_camera{
	position: absolute; top:100px; left: 299px; background-color: rgba(255,255,255,0.4); border-radius: 50%; cursor: pointer
}

.profile_camera{
	position: relative; top:-18px; left: 80px; width:32px; height:32px; background-color: rgba(255,255,255,0.4); border-radius: 50%; cursor: pointer;
}

.profile_modify_outline{
	width: 583px; margin: 40px auto;
}

.max_length{
	float: right;
}

.profile_modify_outline_name{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px;
}

.name_input{
	border: white; width: 533px; outline: none; margin-top: 12px;
}

.profile_modify_outline_introduce{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px;
}

.introduce_textarea{
	border: white; width: 533px;  outline: none; margin-top: 12px;  resize: none;
}

.profile_modify_outline_location{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px;
}

.location_input{
	border: white; width: 533px; outline: none; margin-top: 12px;
}

.profile_modify_outline_website{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px; 
}

.website_input{
	border: white; width: 533px; outline: none; margin-top: 12px;
}

.profile_modify_outline_birthday{
	border: 1px solid black; border-radius:3px; margin:12px; padding: 8px 8px 8px 8px; 
}

.birthday_div{
	margin-top: 8px;
}

.profile_modify{
	margin-top: 0px;
	margin-left: 30px;
	width:100%;
	cursor: pointer;
	
}

/* profile_modify 끝 */






/* media 시작 */

.media_main{
	display: inline-block;
	margin: 15px 0 15px 0;
    
}

.media_sub{
	width: 590px; 
	height: 194px; 
	margin: 4px 4px 0; 
	display: flex;
}

.media_box_1{
	width: 194px; height: 194px; /* border: solid 1px red; */ box-sizing: border-box;
}

.media_box_1 img{
	width:194px; height: 194px; 
}

.media_box_1 video{
	width:194px; height: 194px; 
}

.media_box_2{
	width: 194px; height: 194px; /* border: solid 1px blue; */ box-sizing: border-box; margin-left: 4px;
}

.media_box_2 img{
	width:194px; height: 194px; 
}

.media_box_2 video{
	width:194px; height: 194px; 
}

.media_box_3{
	width: 194px; height: 194px; /* border: solid 1px green;  */box-sizing: border-box; margin-left: 4px;
}

.media_box_3 img{
	width:194px; height: 194px; 
}

.media_box_3 video{
	width:194px; height: 194px; 
}

/* media 끝 */


/* underbar 시작 */

.content_underbar{
	width: 56px; height: 4px; background: #BA68C8; margin: auto;
}

.like_underbar{
	width: 99px; height: 4px; background: #BA68C8; margin: auto;
}

/* underbar 끝 */


/* profile_post 시작 */
.post_body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;

}




>>>>>>> refs/remotes/origin/BHY
