<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.mapper.Cross_userMapper">
		
	<select id="getUserProfile" resultType="com.java.dto.Cross_userDto">
		select name,profile_img from cross_user where user_id=#{user_id}
	</select>
 	
</mapper>